$black: #1a3546;
$mid-black: #272727;
$soft-black: rgb(143, 143, 143);
$blue: rgb(25, 123, 184);
$soft-blue: lighten($color: $black, $amount: 74);
$mid-blue: #2f5f7e;
$text-blue-light: #3d7ba3;
$light-grey: #d2d3d5;
$white: #fff;
$red: rgb(247, 110, 110);
$green: #21c421;
$soft-green: rgb(179, 254, 186);
$soft-pink: #ebb7e1;
$tan: #faf2e3;
$dark-tan: darken($color: $tan, $amount: 60);
$mid-tan: darken($color: $tan, $amount: 40);


$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 75px;

$time: 0.2s;

$font-main: 'Montserrat', sans-serif;

// Color classes
.soft-black {
  &-bg {
    background-color: $soft-black !important;
  }
  &-text {
    color: $soft-black !important;
  }
}
.mid-blue {
  &-text {
    color: $mid-blue !important;
  }
}
.light-grey {
  &-bg {
    background-color: $light-grey !important;
  }
}
.red {
  &-bg {
    background-color: $red !important;
  }
  &-text {
    color: $red !important;
  }
}
.tan {
  &-bg {
    background-color: darken($color: $tan, $amount: 10) !important;
  }
}


// Break points
$bp-desktop: 1024px;
$bp-desktop-small: 900px;
$bp-tablet: 768px;
$bp-phone: 640px;

/* Mixins */
@mixin delete {
  color: lighten($color: $soft-black, $amount: 10);
  margin-left: 0.5rem;
  transition: color 0.2s;
  &:hover {
    cursor: pointer;
    color: $soft-black;
  }
}

@mixin text-input-module {
  width: 100%;
  &.hide {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}