//$black: #051821;
$black: #1a3546;
$soft-black: rgb(102, 102, 103);
$blue: rgb(25, 123, 184);
$bg-blue: lighten($color: $black, $amount: 74);
$text-blue: lighten($color: $black, $amount: 15);
$text-blue-light: lighten($color: $text-blue, $amount: 10);
//$light-grey: #5a82d2;
$light-grey: #d2d3d5;
$white: #fff;
$red: rgb(247, 110, 110);
$green: #21c421;
$soft-green: rgb(179, 254, 186);
$soft-pink: #ebb7e1;
$tan: #faf2e3;

$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 75px;

$time: 0.2s;

$font-main: 'Montserrat', sans-serif;

/* Mixins */
@mixin delete {
    color: lighten($color: $soft-black, $amount: 30);
    margin-left: 0.5rem;
    transition: color 0.2s;
    &:hover {
      cursor: pointer;
      color: $soft-black;
    }
}

@mixin text-input-module {
  width: 100%;
  &.hide {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}