@import 'title-module';
@import 'task';

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  padding: 0.75rem;
  margin-right: 1.5rem;
  background: lighten($color: $light-grey, $amount: 5);
  backdrop-filter: blur(5px);
  border-radius: $radius-md;
  box-shadow: 2px 2px 8px rgba($color: $black, $alpha: 0.2);
  .list-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    @include text-input-module;
    .title {
      font-size: 1rem;
    }
    .delete {
      @include delete;
    }
  }
  .list-body {
    width: 100%;
    @include task;
  }
  .list-footer {
    width: 100%;
    .new-task-form {
      width: 100%;
      &.hide {
        display: none;
      }
      input {
        width: 100%;
      }
    }
    .new-task {
      font-size: 0.8rem;
      color: lighten($color: $soft-black, $amount: 10);
      padding: 0.25rem 0;
      transition: color $time;
      &:hover {
        cursor: pointer;
        color: $black;
      }
    }
  }
}