.new-list {
  width: 300px;
  min-width: 300px;
  height: fit-content;
  padding: 1rem 0.5rem;
  background-color: rgba($color: $white, $alpha: 0.35);
  backdrop-filter: blur(5px);
  border-radius: $radius-md;
  transition: background-color $time;
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      width: 100%;
      padding: 0.5rem 0.25rem;
      margin: 0 0 0.75rem;
      &.hide {
        display: none;
      }
    }
    #create-list {
      margin: 0;
      padding: 0.25rem 0.5rem;
      width: fit-content;
      font-size: 1rem;
      border-radius: $radius-sm;
      background: none;
      border: none;
      transition: background-color $time;
      &:hover {
        cursor: pointer;
        background: $blue;
        color: $white;
      }
      &:focus {
        outline: none;
      }
    }
  }
}