/* Mixins */
nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 40px;
}

nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .row .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  font-weight: 800;
  color: #197bb8;
  line-height: 0.9rem;
}

nav .row .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .row .buttons .logout {
  color: #666667;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

nav .row .buttons .logout:hover {
  cursor: pointer;
  background-color: #197bb8;
  color: white;
}

nav .row .buttons a {
  margin-left: 0.75rem;
}

nav .row .buttons a i {
  color: #666667;
  font-size: 1.75rem;
}

nav .row .buttons a i:hover {
  color: #197bb8;
}

nav .row .col:nth-child(2) {
  width: 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .row .col:nth-child(2) ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

nav .row .col:nth-child(2) ul li {
  padding: 0.5rem 1.2rem;
  border-left: solid 2px #197bb8;
  border-radius: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .row .col:nth-child(2) ul li:hover {
  cursor: pointer;
  background-color: #197bb8;
}

.new-list {
  background-color: rgba(210, 211, 213, 0.3);
  border-radius: 12px;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0.5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.new-list form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.new-list form input {
  width: 100%;
  padding: 0.5rem 0.25rem;
  margin: 0 0 0.75rem;
}

.new-list form input.hide {
  display: none;
}

.new-list form #create-list {
  margin: 0;
  padding: 0.25rem 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  border-radius: 6px;
  background: none;
  border: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.new-list form #create-list:hover {
  cursor: pointer;
  background: #197bb8;
  color: #fff;
}

.new-list form #create-list:focus {
  outline: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.75rem;
  margin-right: 1.5rem;
  background: #dfe0e1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 8px rgba(26, 53, 70, 0.2);
          box-shadow: 2px 2px 8px rgba(26, 53, 70, 0.2);
}

.list .list-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.list .list-head .text-input-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

.list .list-head .text-input-module .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.list .list-head .text-input-module .title-wrapper.hide {
  display: none;
}

.list .list-head .text-input-module .title-wrapper .title, .list .list-head .text-input-module .title-wrapper i {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1px 0;
}

.list .list-head .text-input-module .title-wrapper .title {
  min-width: 30px;
  min-height: 19px;
  font-weight: 800;
  margin: 0;
}

.list .list-head .text-input-module .title-wrapper i {
  margin-left: 0.5rem;
  padding-bottom: 3px;
}

.list .list-head .text-input-module .title-wrapper i.hide {
  display: none;
}

.list .list-head .text-input-module .title-wrapper:hover {
  cursor: pointer;
}

.list .list-head .text-input-module input {
  width: 100%;
  margin: 6px 0;
  border: none;
  background: none;
}

.list .list-head .text-input-module input.hide {
  display: none;
}

.list .list-head .text-input-module input:focus {
  outline: none;
}

.list .list-head .title {
  font-size: 1rem;
}

.list .list-head .delete {
  color: #b3b3b3;
  margin-left: 0.5rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.list .list-head .delete:hover {
  cursor: pointer;
  color: #666667;
}

.list .list-body {
  width: 100%;
}

.list .list-body .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #faf2e3;
  border-left: 0.25rem solid #197bb8;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  width: 100%;
  height: 80px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.list .list-body .task:hover {
  cursor: pointer;
  background-color: #d7d8da;
}

.list .list-body .task .task-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20px;
  width: 100%;
}

.list .list-body .task .task-head form {
  width: 100%;
}

.list .list-body .task .task-head form .text-input-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

.list .list-body .task .task-head form .text-input-module .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.list .list-body .task .task-head form .text-input-module .title-wrapper.hide {
  display: none;
}

.list .list-body .task .task-head form .text-input-module .title-wrapper .title, .list .list-body .task .task-head form .text-input-module .title-wrapper i {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1px 0;
}

.list .list-body .task .task-head form .text-input-module .title-wrapper .title {
  min-width: 30px;
  min-height: 19px;
  font-weight: 800;
  margin: 0;
}

.list .list-body .task .task-head form .text-input-module .title-wrapper i {
  margin-left: 0.5rem;
  padding-bottom: 3px;
}

.list .list-body .task .task-head form .text-input-module .title-wrapper i.hide {
  display: none;
}

.list .list-body .task .task-head form .text-input-module .title-wrapper:hover {
  cursor: pointer;
}

.list .list-body .task .task-head form .text-input-module input {
  width: 100%;
  margin: 6px 0;
  border: none;
  background: none;
}

.list .list-body .task .task-head form .text-input-module input.hide {
  display: none;
}

.list .list-body .task .task-head form .text-input-module input:focus {
  outline: none;
}

.list .list-body .task .task-head form .title, .list .list-body .task .task-head form i, .list .list-body .task .task-head form input {
  font-size: 0.8rem;
}

.list .list-body .task .task-head .delete {
  color: #b3b3b3;
  margin-left: 0.5rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.list .list-body .task .task-head .delete:hover {
  cursor: pointer;
  color: #666667;
}

.list .list-body .task .task-body {
  height: 42px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.list .list-body .task .task-body .due-date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
  color: #b3b3b3;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.list .list-body .task .task-body .due-date:hover {
  color: #666667;
}

.list .list-body .task .task-body .completed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.list .list-body .task .task-body .completed-wrapper .completed-title {
  margin: 0;
  font-size: 0.8rem;
}

.list .list-footer {
  width: 100%;
}

.list .list-footer .new-task-form {
  width: 100%;
}

.list .list-footer .new-task-form.hide {
  display: none;
}

.list .list-footer .new-task-form input {
  width: 100%;
}

.list .list-footer .new-task {
  font-size: 0.8rem;
  color: #7f7f81;
  padding: 0.25rem 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.list .list-footer .new-task:hover {
  cursor: pointer;
  color: #1a3546;
}

.popup-wrapper {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(26, 53, 70, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.popup-wrapper .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  max-height: 85vh;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: #fff;
}

.popup-wrapper .popup .popup-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-height: 15vh;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module .title-wrapper.hide {
  display: none;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module .title-wrapper .title, .popup-wrapper .popup .popup-head .title-block .text-input-module .title-wrapper i {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1px 0;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module .title-wrapper .title {
  min-width: 30px;
  min-height: 19px;
  font-weight: 800;
  margin: 0;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module .title-wrapper i {
  margin-left: 0.5rem;
  padding-bottom: 3px;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module .title-wrapper i.hide {
  display: none;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module .title-wrapper:hover {
  cursor: pointer;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module input {
  width: 100%;
  margin: 6px 0;
  border: none;
  background: none;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module input.hide {
  display: none;
}

.popup-wrapper .popup .popup-head .title-block .text-input-module input:focus {
  outline: none;
}

.popup-wrapper .popup .popup-head .title-block .title, .popup-wrapper .popup .popup-head .title-block input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.popup-wrapper .popup .popup-head .title-block .select-wrapper {
  color: #666667;
  font-size: 0.9rem;
}

.popup-wrapper .popup .popup-head .title-block .select-wrapper select {
  color: #666667;
  font-size: 0.9rem;
  background: none;
  border: none;
}

.popup-wrapper .popup .popup-head .title-block .select-wrapper select:hover {
  cursor: pointer;
}

.popup-wrapper .popup .popup-head .title-block .select-wrapper select:focus {
  outline: none;
}

.popup-wrapper .popup .popup-head .title-block .select-wrapper select option {
  background: none;
}

.popup-wrapper .popup .popup-head .close {
  font-size: 1.2rem;
  color: #99999a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.popup-wrapper .popup .popup-head .close:hover {
  cursor: pointer;
  color: #666667;
}

.popup-wrapper .popup .popup-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 75vh;
  overflow-y: scroll;
  margin-top: 1.75rem;
}

.popup-wrapper .popup .popup-body .description-wrapper {
  width: 100%;
  padding: 0.5rem;
  color: #91681a;
  background-color: #faf2e3;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 2px #d2d3d5;
          box-shadow: 0px 2px 2px #d2d3d5;
}

.popup-wrapper .popup .popup-body .description-wrapper .description-title {
  margin: 0.5rem 0;
  padding: 0;
}

.popup-wrapper .popup .popup-body .description-wrapper .description-input {
  width: 100%;
  height: 180px;
  color: #dba236;
  background-color: #faf2e3;
  border: none;
  resize: none;
}

.popup-wrapper .popup .popup-body .description-wrapper .description-input:hover {
  cursor: pointer;
}

.popup-wrapper .popup .popup-body .description-wrapper .description-input::-webkit-input-placeholder {
  color: #dba236;
}

.popup-wrapper .popup .popup-body .description-wrapper .description-input:-ms-input-placeholder {
  color: #dba236;
}

.popup-wrapper .popup .popup-body .description-wrapper .description-input::-ms-input-placeholder {
  color: #dba236;
}

.popup-wrapper .popup .popup-body .description-wrapper .description-input::placeholder {
  color: #dba236;
}

.popup-wrapper .popup .popup-body .notes-wrapper {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1.75rem;
  margin-bottom: 0.5rem;
  background-color: #e4eff5;
  border-radius: 12px;
}

.popup-wrapper .popup .popup-body .notes-wrapper h3 {
  color: #2f5f7e;
  margin: 0.5rem 0;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes {
  width: 100%;
  color: #2f5f7e;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 0 0.25rem 0;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=text] {
  width: 475px;
  padding: 0.25rem;
  color: #2f5f7e;
  background-color: #e4eff5;
  border: none;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=text]::-webkit-input-placeholder {
  color: #3d7ba3;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=text]:-ms-input-placeholder {
  color: #3d7ba3;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=text]::-ms-input-placeholder {
  color: #3d7ba3;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=text]::placeholder {
  color: #3d7ba3;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=text]:hover {
  cursor: pointer;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=submit] {
  width: 75px;
  border-radius: 6px;
  color: #3d7ba3;
  background: none;
  border: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=submit]:hover {
  cursor: pointer;
  background: #197bb8;
  color: #fff;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes form input[type=submit]:focus {
  outline: none;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.25rem 0;
  padding-bottom: 0.25rem;
  color: #3d7ba3;
  border-bottom: 1px #2f5f7e solid;
}

.popup-wrapper .popup .popup-body .notes-wrapper .notes ul li:nth-of-type(1) {
  padding-top: 0.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  z-index: -101;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #1a3546;
}

#content {
  z-index: -100;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.row, .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.low {
  color: #666667;
}

.medium {
  color: #21c421;
}

.urgent {
  color: #f76e6e;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main .work-space {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
}

.qs-controls {
  background-color: #197bb8;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */